{%- assign _tag_max_size = 1 -%}
{%- assign _tag_min_size = 1 -%}
{%- assign _tag_cur_size = 1 -%}
{%- assign _tags = site.tags | sort -%}

{% capture tags %}
  {% for tag in _tags %}
    {{ tag[1].size | plus: -10000 }}###{{ tag[0] | replace: ' ', '##' }}###{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sorted_tags = tags | split:' ' | sort %}

{%- for _tag in sorted_tags -%}
  {% assign items = _tag | split: '###' %}
  {% assign tag = items[1] | replace: '##', ' ' %}
  {% assign count = items[2] | plus: 0 %}

  {%- assign _tag_cur_size = count -%}
  {%- if _tag_cur_size > _tag_max_size -%}
    {%- assign _tag_max_size =  _tag_cur_size -%}
  {%- endif -%}
  {%- if _tag_cur_size < _tag_min_size -%}
    {%- assign _tag_min_size = _tag_cur_size -%}
  {%- endif -%}
{%- endfor -%}
{%- assign _tag_gap_size =  _tag_max_size | minus: _tag_min_size | plus: 1 | divided_by: 7 -%}
{%- if _tag_gap_size < 1 -%}
  {%- assign _tag_gap_size = 1 -%}
{%- endif -%}
<div class="site-tags js-tags">
  <ul class="menu">
    <li>
      <button type="button" class="button button--secondary button--pill tag-button tag-button--all" data-encode="">
        Show All<div class="tag-button__count">{{ site.posts | size }}</div>
      </button>
    </li>

    {%- for _tag in sorted_tags -%}
      {% assign items = _tag | split: '###' %}
      {% assign tag = items[1] | replace: '##', ' ' %}
      {% assign count = items[2] | plus: 0 %}

      {%- assign _tag_cur_size = count -%}
      {%- assign _tag_min_1 = _tag_min_size -%}
      {%- assign _tag_max_1 = _tag_min_1 | plus: _tag_gap_size -%}
      {%- assign _tag_min_2 = _tag_max_1 -%}
      {%- assign _tag_max_2 = _tag_min_2 | plus: _tag_gap_size -%}
      {%- assign _tag_min_3 = _tag_max_2 -%}
      {%- assign _tag_max_3 = _tag_min_3 | plus: _tag_gap_size -%}
      {%- assign _tag_min_4 = _tag_max_3 -%}
      {%- assign _tag_max_4 = _tag_min_4 | plus: _tag_gap_size -%}
      {%- assign _tag_min_5 = _tag_max_4 -%}
      {%- assign _tag_max_5 = _tag_min_5 | plus: _tag_gap_size -%}
      {%- assign _tag_min_6 = _tag_max_5 -%}
      {%- assign _tag_max_6 = _tag_min_6 | plus: _tag_gap_size -%}
      {%- assign _tag_min_7 = _tag_max_6 -%}
      {%- assign _tag_max_7 = _tag_min_7 | plus: _tag_gap_size -%}
      {%- if _tag_cur_size >= _tag_min_1 and _tag_cur_size < _tag_max_1 -%}
        {%- assign _c_index = 1 -%}
      {%- elsif _tag_cur_size >= _tag_min_2 and _tag_cur_size < _tag_max_2 -%}
        {%- assign _c_index = 2 -%}
      {%- elsif _tag_cur_size >= _tag_min_3 and _tag_cur_size < _tag_max_3 -%}
        {%- assign _c_index = 3 -%}
      {%- elsif _tag_cur_size >= _tag_min_4 and _tag_cur_size < _tag_max_4 -%}
        {%- assign _c_index = 4 -%}
      {%- elsif _tag_cur_size >= _tag_min_5 and _tag_cur_size < _tag_max_5 -%}
        {%- assign _c_index = 5 -%}
      {%- elsif _tag_cur_size >= _tag_min_6 and _tag_cur_size < _tag_max_6 -%}
        {%- assign _c_index = 6 -%}
      {%- elsif _tag_cur_size >= _tag_min_7 and _tag_cur_size < _tag_max_7 -%}
        {%- assign _c_index = 7 -%}
      {%- else -%}
        {%- assign _c_index = 7 -%}
      {%- endif -%}
      <li><button type="button" class="button button--pill tag-button tag-button-{{ _c_index }}" data-encode="{{ tag | strip | url_encode }}">
          <span>{{ tag | strip }}</span><div class="tag-button__count">{{ count }}</div>
        </button>
      </li>
    {%- endfor -%}
  </ul>
</div>
