/* start custom scss snippet */
// Code to clipboard 
.copy-code-button {
    position: absolute;
    border: none;
    right: 0.2rem;
    top: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
    padding: 6px 6px;

    opacity: 0.4;
    &:active,
    // &:focus,
    &:hover {
      opacity: 1;
    }

    &::before {
        content: "";    // Text
    }

    &::after {
        content: "📋";
        display: block;
    }

    // Change the state that toggled by JS
    &.copied {
        &::before {
        content: "";    //Text
        }

        &::after {
        content: "✔️";
        }
    }


    &:active .copied,
    // &:focus .copied,
    &:hover .copied {
      opacity: 1;
    }

    transition: 0.4s;
}

// hover animation
.copy-code-button:hover {
    transform: rotate(10deg) translate(0px, -3px);
}
pre.highlight {
    position: relative;
}

/* end custom scss snippet */
