/* start custom scss snippet */
// Code to clipboard copyCopy.js
.copy-code-button {
    position: absolute;
    border: none;
    right: 0.2rem;
    top: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
    padding: 6px 6px;

    opacity: 0.4;
    &:active,
    // &:focus,
    &:hover {
      opacity: 1;
    }

    &::before {
        content: "";    // Text
    }

    &::after {
        content: "📋";
        display: block;
    }

    // Change the state that toggled by JS
    &.copied {
        &::before {
        content: "";    //Text
        }

        &::after {
        content: "✔️";
        }
    }


    &:active .copied,
    // &:focus .copied,
    &:hover .copied {
      opacity: 1;
    }

    transition: 0.4s;
}

// hover animation
.copy-code-button:hover {
    transform: rotate(10deg) translate(0px, -3px);
}
pre.highlight {
    position: relative;
}

.copy-code-button {
    position: absolute;
    border: none;
    right: 0.5rem;
    top: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
    padding: 6px 6px;
    opacity: 0.4;
    &:active,
    &:hover {
      opacity: 1;
    }

    &::before {
        content: "";
    }
    &::after {
        content: "";
        display: block;
    }

    // Change the state that toggled by JS
    &.copied {
        &::before {
            content: "";
        }
        &::after {
            content: "Copied🔥";
            font-size: 0.7rem;
            margin: 0;
            opacity: 1;
        }
    }

    &:active .copied,
    &:hover .copied {
      opacity: 1;
    }

    transition: 0.4s;
}

// hover animation
.copy-code-button:hover {
    transform: rotate(-10deg) translate(0px, -3px);
}
pre.highlight {
    position: relative;
}

// scroll-to-top.js 
#scroll-to-top {
    cursor: pointer;
    display: block;
    position: fixed;
    font-size: 15px;
    border-radius: 100px;
    padding: 15px;
    bottom: 5%;
    right: 10%;
    opacity: 0;
    z-index: 10;
    // backface-visibility: hidden;
    background-color: rgba($main-color-3, 0.5);

    transform: translateY(30%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* end custom scss snippet */
