$material-indigo-color-50      : #E8EAF6;
$material-indigo-color-100     : #C5CAE9;
$material-indigo-color-200     : #9FA8DA;
$material-indigo-color-300     : #7986CB;
$material-indigo-color-400     : #5C6BC0;
$material-indigo-color-500     : #3F51B5;
$material-indigo-color-600     : #3949AB;
$material-indigo-color-700     : #303F9F;
$material-indigo-color-800     : #283593;
$material-indigo-color-900     : #1A237E;


$material-red-color-50      : #FFEBEE;
$material-red-color-100     : #FFCDD2;
$material-red-color-200     : #EF9A9A;
$material-red-color-300     : #E57373;
$material-red-color-400     : #EF5350;
$material-red-color-500     : #F44336;
$material-red-color-600     : #E53935;
$material-red-color-700     : #D32F2F;
$material-red-color-800     : #C62828;
$material-red-color-900     : #B71C1C;
