@mixin overflow($overflow: auto, $direction: default) {
  @if $direction == default {
    overflow: $overflow;
  } @else if $direction == "x" {
    @if $overflow == auto {
      overflow: hidden;
    }
    overflow-x: $overflow;
  } @else if $direction == "y" {
    @if $overflow == auto {
      overflow: hidden;
    }
    overflow-y: $overflow;
  }
  @if $overflow == auto {
    -webkit-overflow-scrolling: touch;
  }
}

@mixin overflowHoverOnly() {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: transparent;
  }
  
  &::-webkit-scrollbar-track {
    border-radius: 30px;
    background-color: rgba($main-color-1, .05);
  }

  transition: 1s;

  &:hover,
  &:focus {
    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
      background-color: rgba($main-color-1, .1);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 30px;
      background-color: rgba($main-color-1, .3);
    }
    
    &::-webkit-scrollbar-thumb:hover {
      border-radius: 30px;
      background-color: rgba($main-color-1, 1);
    }
    
    &::-webkit-scrollbar-track {
      border-radius: 30px;
      background-color: rgba($main-color-1, .1);
    }
  }
}

.of-auto {
  @include overflow(auto);
}

.of-hidden {
  @include overflow(hidden);
}
