.site-tags {
  .tag-button {
    @include clickable(
      $text-color-3,  // $clr           기본 text
      $main-color-3,  // $bg-clr        기본 bg
      default,        // $hover-clr     hover시 text
      $main-color-3,  // $hover-bg-clr  hover시 bg
      $text-color-2,  // $active-clr    클릭 후 선택 직전까지 text
      $main-color-1,  // $active-bg-clr 클릭 후 선택 직전까지 bg
      $text-color-1,  // $focus-clr     선택되었을 때 text
      rgba($main-color-1, 0.1)   // $focus-bg-clr  선택되었을 때 bg
    ) {
      // tag button hover시 효과
      &:hover {
        box-shadow: 0 0 0 3px $main-color-1;
      }
      box-shadow: 0 0 0 1px rgba($text-color-1, 0.05);
      margin-right: 4px;
    }
    // tag 버튼 내에 있는 count용 윗첨자
    & > .tag-button__count {
      display: inline-block;
      margin-left: map-get($spacers, 1);
      font-size: map-get($base, font-size-xs);
      line-height: 1;
      vertical-align: top;
      padding-left: 3px;
    }
  }

  .tag-button--all {
    // tag 버튼 내에 있는 count용 윗첨자
    & > .tag-button__count {
      color: $text-color-1;
      display: inline-block;
      margin-left: map-get($spacers, 1);
      font-size: map-get($base, font-size-root-sm);
      line-height: 1;
      vertical-align: top;
      &::before {
        content: "📚";    // 📂📌📋📝📦🧾📄📃📑
      }
    }
  }

  // .tag-button-1 {
  //   // tag 버튼 내에 있는 count용 윗첨자
  //   & > .tag-button__count {
  //     color: $material-red-color-400;
  //     display: inline-block;
  //     margin-left: map-get($spacers, 1);
  //     font-size: map-get($base, font-size-xs);
  //     line-height: 1;
  //     vertical-align: top;
  //   }
  // }
  // .tag-button-2 {
  //   // tag 버튼 내에 있는 count용 윗첨자
  //   & > .tag-button__count {
  //     color: $material-red-color-500;
  //     display: inline-block;
  //     margin-left: map-get($spacers, 1);
  //     font-size: map-get($base, font-size-xs);
  //     line-height: 1;
  //     vertical-align: top;
  //   }
  // }
  // .tag-button-3 {
  //   // tag 버튼 내에 있는 count용 윗첨자
  //   & > .tag-button__count {
  //     color: $material-red-color-600;
  //     display: inline-block;
  //     margin-left: map-get($spacers, 1);
  //     font-size: map-get($base, font-size-sm);
  //     line-height: 1;
  //     vertical-align: top;
  //   }
  // }
  // .tag-button-4 {
  //   // tag 버튼 내에 있는 count용 윗첨자
  //   & > .tag-button__count {
  //     color: $material-red-color-700;
  //     display: inline-block;
  //     margin-left: map-get($spacers, 1);
  //     font-size: map-get($base, font-size-sm);
  //     line-height: 1;
  //     vertical-align: top;
  //   }
  // }
  // .tag-button-5 {
  //   // tag 버튼 내에 있는 count용 윗첨자
  //   & > .tag-button__count {
  //     color: $material-red-color-800;
  //     display: inline-block;
  //     margin-left: map-get($spacers, 1);
  //     font-size: map-get($base, font-size-root-sm);
  //     line-height: 1;
  //     vertical-align: top;
  //   }
  // }
  // .tag-button-6 {
  //   // tag 버튼 내에 있는 count용 윗첨자
  //   & > .tag-button__count {
  //     color: $material-red-color-900;
  //     display: inline-block;
  //     margin-left: map-get($spacers, 1);
  //     font-size: map-get($base, font-size-root-sm);
  //     line-height: 1;
  //     vertical-align: top;
  //   }
  // }
  // .tag-button-7 {
  //   // tag 버튼 내에 있는 count용 윗첨자
  //   & > .tag-button__count {
  //     color: $material-red-color-900;
  //     display: inline-block;
  //     margin-left: map-get($spacers, 1);
  //     font-size: map-get($base, font-size-root-sm);
  //     line-height: 1;
  //     vertical-align: top;
  //   }
  // }
}